<!doctype html>
<html lang="zh-cn">
{% load static %}
<head><title>芜湖东站点名会系统</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{% static 'app.6a4eb5da3a5136ba05a6a26ed39bb79e.css' %}">
</head>
<body>
<div id="root" style="height: 100%"></div>
<script type="text/javascript" src="{% static 'vendor.8681ff1eb711d481581e.js' %}"></script>
<script type="text/javascript" src="{% static 'app.c2fc4598f339e77d02f6.js' %}"></script>
</body>
</html>
